<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
  	<!-- 默认处理页面 -->
  	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>
  
  	<!-- 拦截器 -->
  	<!-- START SNIPPET: filter -->
  	<filter>
        <filter-name>action2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
   	<!-- END SNIPPET: filter -->
    
    
	
	<filter-mapping>
	    <filter-name>action2</filter-name>
	    <url-pattern>/user/*</url-pattern>
	    <url-pattern>/actions/*</url-pattern>
	</filter-mapping>
   
   	<filter>
   		<filter-name>cors</filter-name>
		<filter-class>com.mrhu.struts.util.CrosFilter</filter-class>
   	</filter>
   	<filter-mapping>
   		<filter-name>cors</filter-name>
   		<url-pattern>/servlet/*</url-pattern>
   	</filter-mapping>
   
  	<servlet>
	    <servlet-name>MyServlet</servlet-name>
	    <servlet-class>com.mrhu.struts.util.MyServlet</servlet-class>
  	</servlet>

  	<servlet-mapping>
    	<servlet-name>MyServlet</servlet-name>
    	<url-pattern>/servlet/MyServlet</url-pattern>
  	</servlet-mapping>
</web-app>
